body{
     
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
     margin:0;
      padding:0;
       overflow-x: hidden;   
      width: 100%;
     
     

}

 .contacts{
     width: 100%;
     background: linear-gradient(rgb(15, 15, 32), rgb(4, 4, 12));
     display: flex;
     flex-wrap: wrap;
     color: white;
     font-size: 15px;
     height: 20vh;
     justify-content: center; 
     padding-top: 60px;
      
 }
 .contacts div{
     margin-left: 35px;
 }
  
.main-box{
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 15vh;
}
footer{
    width: 100%; 
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
    height: auto;
    flex-direction: row;
    justify-content: space-evenly;
    color: blanchedalmond;
    margin-top: 100vh;
     margin-bottom: 0;
     padding-top: 30px;
    border-top: rgb(133, 14, 14) solid 5px;
    

}
.picture-links{
    
   
    width: 100% ;
     grid-template-columns: max-content max-content max-content max-content;
    display: grid;
     
     
    
    background: linear-gradient(rgb(16, 8, 126),rgb(3, 7, 63, 0.65));
    box-shadow: 3px 2px 4px 2px red  ;
    height: auto;
    border-top: 5px solid red;
    justify-content: space-evenly;
     
    text-align: center; 
   
    
     
     
     
     
      
     
     
}
h3{
    text-align: center;
}
video{
     width: 20vw;
}
.picture-links img{
        width: 70px;
      display: flex;
      flex-direction: row;
      text-align: center;
      align-items: center;
      height: 85px;
       padding-top: 20px;
        
    
   
     
     

     

}
 

footer a{
    text-decoration: none;
    color: rgb(14, 12, 141);
}
 
.top-logo-text{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.logo{
     
    width: 40%;
}
.top-text{
     
    width: 40%;
    padding-top: 20px;
}

.top-logo-text ul{
    list-style-type: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

.top-text li{
    padding-top: 20px;
}


.main-sector{
 width: 100%;
 height: auto;
 display: flex;
 flex-wrap: wrap;
  
 
  
 flex-direction: row;
 

}
.cronics{
    width: 25vw;
    border: 1px solid gray;
    height: 50vh;  padding-left:  0px ;
    overflow: auto;
    margin-left:  20px ;
    margin-top: 10vw;
    background-color: darkblue;
    color: darkgrey;
    overflow-x: auto;
   
}
.main{
    width: 50vw;
    border: 1px solid gray;
    height: 50vh; 
    margin-top: 8vw;
    justify-content: center;
    text-align: center;



     
}
.right{
    width: 20vw;
    height: 50vh;
    border: gray solid;
    margin-right: 20px;
    margin-top: 6vw;
    margin-left: 10px;
}
 .cronics li {
     background-color: rgb(51, 51, 80);
     color: cornsilk;


 }
 .video{
     width: 100%;
     margin-bottom: 15vh;
     height: 20vh;
     text-align: center;
    
 }
 
 .main-sector{
     width: 100%;
     
     height: auto;
     justify-content: center;
     margin-top: 30px;
 }
 .left-side-box, .right-side-box{
     width: 40%;
     border-top: 5px groove green;
     height: auto;
 }
 .left-side-box{
    text-align: center;
    border-left: 5px groove green;
    

     
 }
 #more-information{
     list-style: none;
     
 }
 #more-information a{
        text-decoration: none;
        color: rgb(55, 55, 248);
        



 }
 .main-div-sector{
     width: 100%;
     height: auto;
       
     text-align: center;
 }
 .content{

text-align: left;



 }
 .picture{
     width: 100%;
     flex-direction: row;
      display: flex;
      text-align: center;
      justify-content: center;

     
 }
 .picture-video{
     width: 100vw;
     justify-content: center;
     display: flex;
     flex-direction: row;
     
     padding:  80px; 
 }




 
 
#table-top, tbody, thead{
    background-color: rgb(53, 53, 88);
    color: #f2f2f2; overflow-x: scroll; padding-bottom: 10px;
    border: 3px solid;
     
  }
  
   

  #table-top li  {
      text-decoration: none;
      color: black;
       
  }
 .blackbox{
      padding-right:  50px;
      justify-content: space-between;
  }

  .block-news{
      width: 100%;
      display: grid;
      grid-template-columns: max-content max-content;
      justify-content: center;
      

  }
  .block-news div{
       border: ridge  black 3px;
      width: 500px;
      box-shadow: 2px 3px 2px 2px rgba(238, 11, 11, 0.603); 
      height: auto;
      text-align: center; 
  }







/*sroll bar design*/

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 3px 5px grey; 
  border-radius: 40px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(93, 88, 88); 
  border-radius: 80px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000; 
  
}

 





















  /*menu drop*/


  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
.wrapper{
  background: #171c24;
  position: fixed;
  width: 100%;
}
 
.wrapper nav{
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
nav .content{
  display: flex;
  align-items: center;
}
nav .content .links{
  margin-left: 80px;
  display: flex;
}
.content .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}
.content .links li{
  list-style: none;
  line-height: 70px;
}
.content .links li a,
.content .links li label{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.content .links li label{
  display: none;
}
.content .links li a:hover,
.content .links li label:hover{
  background: #323c4e;
  text-decoration: underline;
}
.wrapper .search-icon,
.wrapper .menu-icon{
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}
.wrapper .menu-icon{
  display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before{
  content: "\f00d";
}

.wrapper .search-box{
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.wrapper #show-search:checked ~ .search-box{
  opacity: 1;
  pointer-events: auto;
}
.search-box input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: #fff;
  background: #171c24;
  padding: 0 100px 0 15px;
}
.search-box input::placeholder{
  color: #f2f2f2;
}
.search-box .go-icon{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 70px;
  background: #171c24;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.wrapper input[type="checkbox"]{
  display: none;
}

/* Dropdown Menu code start */
.content .links ul{
  position: absolute;
  background: #171c24;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
   
}
.content .links .mega-menu{
  position: absolute;
  background: #171c24;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  width: 250px;
   
}
.content .links .mega-menu2{
  position: absolute;
  background: #171c24;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  width: 243px;
   
}
.content .links .mega-menu3{
  position: absolute;
  background: #171c24;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  width: 243px;
}



.content .links li:hover > ul{
  top: 70px;
  opacity: 1;
  
   
  visibility: visible;
  transition: all 0.3s ease;
}
.content .links ul li a{
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px!important;
}
.content .links ul ul{
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.content .links ul li{
  position: relative;
}
.content .links ul li:hover ul{
  top: 0;
}

/* Responsive code start */
@media screen and (max-width: 1450px){
  .wrapper nav{
    max-width: 100%;
    padding: 0 20px;
  }
  nav .content .links{
    margin-left: 30px;
  }
  .content .links li a{
    padding: 8px 13px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input{
    padding: 0 100px 0 15px;
  }
}

@media screen and (max-width: 1280px){
  .wrapper .menu-icon{
    display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }
  nav .content .links{
    display: block;
    position: fixed;
    background: #14181f;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .content .links{
    left: 0%;
  }
  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link{
    display: none;
  }

  /* dropdown responsive code start */
  .content .links ul,
  .content .links .mega-menu,
  .content .links .mega-menu2,
  .content .links .mega-menu3,
  .content .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-features2:checked ~ ul,
  .content .links #show-features4:checked ~ ul,
  .content .links #show-features5:checked ~ ul,
  .content .links #show-features3:checked ~ ul,
  .content .links #show-features:checked ~ ul,
  .content .links #show-services:checked ~ ul,
  .content .links #show-services2:checked ~ ul,
  .content .links #show-drop:checked ~ ul,
  .content .links #show-items:checked ~ ul,
  .content .links #show-items2:checked ~ ul{
    max-height: 100vh;
     
  }
  .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }
}

@media screen and (max-width: 400px){
  .wrapper nav{
    padding: 0 10px;
  }
  .content .logo a{
    font-size: 27px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon{
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input{
    padding-right: 30px;
  }
}

.dummy-text{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  z-index: -1;
  padding: 0 20px;
  text-align: center;
  transform: translate(-50%, -50%);
}
.dummy-text h2{
  font-size: 45px;
  margin: 5px 0;
}
